@font-face {
 font-family: MediaGothic;
 font-weight: normal;
 src: local("Media Gothic"), url("./MediaGothic.ttf");
}
* {
 font-family: "Trebuchet MS";
 position: relative;
}
::selection {
 background: white;
 color: #236000;
}
::-moz-selection {
 background: white;
 color: #236000;
}
body {
 width: 940px;
 margin: auto;
 margin-top: -45px;
}
.supernadpis {
 font-family: MediaGothic;
 font-size: 8.25rem;
 
 cursor: default;
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}
.supernadpis::selection {
 background: rgba(0, 0, 0, 0);
}
.supernadpis::-moz-selection {
 background: rgba(0, 0, 0, 0);
}

body>.supernadpis {
 text-transform: uppercase;
 margin-bottom: -135px;
 margin-left: 3px;
 margin-right: 14px;
 color: #236000;
 z-index: 2;
}
.box {
 display: block;
 background: #236000;
 min-height: 500px;
 color: #fff;
}
[data-role=side] {
 float: left;
 width: 285px;
 margin-top: 110px;
 min-height: 390px;
 z-index: 3;
}
[data-role=side] ul {
 list-style-position: inside;
 white-space: nowrap;
}
[data-role=side] li {
 max-width: 200px;
 overflow: hidden;
 text-overflow: ellipsis;
}

[data-role=content] {
 position: relative;
 margin-left: 300px;
 padding: 10px;
 padding-bottom: 50px;
}
[data-role=content]>.supernadpis {
 color: #fff;
 margin-top: -20px;
 margin-bottom: 0px;
}
a {
 color: white;
}
#ad {
 position: absolute;
 left: 0px;
 bottom: 0px;
 padding: 10px;
 text-align: center;
}
#ad * {
 font-size: 0.9rem;
 color: white !important;
}
li > a {
 text-decoration: none;
 color: #fff;
}
#easteregg {
 position: fixed;
 right: 0;
 bottom: 0;
 height: 50px;
 width: 50px;
 cursor: pointer;
}
.nope {
 display: none;
}

.form{
  width:200px;
  height:30px;
  margin:4px 0 0 0;
  border:none;
  padding:4px;
  font-family: "Trebuchet MS";
  font-size:16px;
  background:#236000;
  color:#fff;
  
}

input:focus{
  outline: 0;
}

.button{
 width:200px;
 height:30px;
 border:none;
 opacity:0.5;
}

form input:not([type=file]):not([type=checkbox]):not([type=radio]),
form textarea,
form button,
form select,
form .fail{
 display: block;
 height: 20px;
 width: 210px;
 margin:  2px;
 margin-bottom: 5px;
 padding: 2px;
 font-family: Verdana;
 text-align: center;
 background: white;
}

form input:not([type=file]):not([type=checkbox]):not([type=radio]),
form textarea,
form button,
form select {
 background: white;
 opacity: 0.95;
 border: 1.5px solid gray;
 border-radius: 5px;
}

#opts input {
 display: inline;
 border: none;
 text-align: left;
 background: rgba(0,0,0,0);
}
#opts span {
 display: block;
}

form.add span {
 display: block;
 margin-bottom: 5px;
}
form.add span input {
 display: inline-block;
}

form button,
form select {
 height: 27px;
 width: 217px;
}

form button {
 background: lightgray;
}

form textarea {
 height: 100px;
}

form .fail,
form .done {
 display: inline-block;
 font-weight: bold;
 margin: 4px;
 color: #f42;
}

form .done {
 color: #8d7; 
}

div.clanek,
h3.nadpis {
 display: block;
 white-space: pre-line;
 hyphens: auto;
 -webkit-hyphens: auto;
 -moz-hyphens: auto;
 -ms-hyphens: auto;
}

span.row,
span.date {
 display: block;
 margin-bottom: 5px;
}

span.row img {
 position: relative;
 top: 5px;
}

.table {
 display: table;
}

.table .row {
 display: table-row;
}

.table .nadpis,
.table .popis {
 display: table-cell;
 padding: 2px;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}

.table .nadpis {
 max-width: 180px;
}
.table .popis {
 max-width: 360px;
}

span.date {
 margin-top: 10px;
}

a.nadpis {
 font-weight: bold;
}

.vzkaz {
 position: absolute;
 left: 22px;
 top: 130px;
 z-index: 4;
 background: rgba(35,96,0,.9);
 padding: 10px;
 border: 1px solid rgba(0,0,0,.5);
 border-radius: 7px;
}
